* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-color: black;
}

.header {
    width: 600px;
    height: 35%;
    margin: 0 auto;
    border: solid 2px;
    background-color: rgb(250, 236, 226);
}

p {
    font-family: 'Otomanopee One', sans-serif;
    font-size: 12px;
}
.cont-uno {
    display: flex;  
}

.cont-uno__img {
    margin-right: auto;
}

.cont-uno__titulo {
    margin-left: auto;
}
.cont-uno__img-dos {
    margin-left: auto;
}

.cont-dos {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cont-tres {
    margin: 10px;
}
.cont-tres__span {
    display: flex;
    justify-content: center;
}

.cont-tres__p {
    margin: 1%;
    text-align: center;
}

.cont-tres__p:hover {
    cursor: pointer;
}

.cont-cuatro {
    display: flex;
}
.cont-cuatro__btn {
    background-color: rgb(235, 151, 200);
    width: 200px;
    height: 25px;
    border-radius: 7px;
    border: solid 2px rgb(235, 151, 200);
    color: #fff
}

.cont-cuatro__btn:hover {
    background-color: rgb(233, 78, 168);
    cursor: pointer;
}

.cont-row {
    width: 80%;
    display: flex;
    padding: 10px;
    margin: 0 auto;
}

.cont-row .cont-column img {
    width: 100%;
    padding: 10px;
}

@media screen and (max-width: 800px) {
    .header {
        width: 100%;
        height: 25%;
    }
    
    .cont-cuatro {
        margin: 20px;
    }
    .cont-cuatro__btn {
        width: 100px;
    }
}